 body{
background-color:#EDEFF2;}
  *{
  box-sizing:border-box;
  }
  /*naviagtion_bar*/
  .navbar {
    box-shadow:0 3px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: #545E79;
}
.navbar:hover a{
opacity:0.8;}
.navbar a {
    float: left;
    font-size: 17px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.dropdown{
        font-size: 17px;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
        float:left;
        overflow:hidden;}
.dropdown-content {
box-shadow: 9px 6px 8px 0 rgba(0,0,0,0.2);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;

    z-index: 1;
}
 .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
 .dropdown:hover .dropdown-content {
    display: block;}

.accnt{
float:right;}

/*languages*/
.wrap{
/*background-color: #f9f9f9;*/
text-align:center;
border:none;
padding:20px 30px 10px;
/*padding-left:2px;*/
}
.wrap a{
box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);
border-radius:25px;
background:#485F83;
color:white;
padding:10px;
text-decoration:none;
}
.wrap:hover{
opacity:0.9;}

.video{
width:100%;
}

iframe{
display:block;
border:none;
height:610px;
width:100%;
}
 .Table{
box-shadow: 9px 6px 8px 0 rgba(0,0,0,0.2);
background-color:#4B5D7F;
/*background-color:white;*/
position:relative;
left:200px;
width:70%;
}

.Table a{
font-family:Helvetica;
color:white;
text-decoration:none;
cursor:pointer;
}

#heading{
box-shadow: 0px 6px 8px 0 rgba(0,0,0,0.2);
padding-left:75px;
padding-bottom:0;
}

.row{
padding:3.5px 10px 10px 50px;
display:flex;
flex-wrap:wrap;
}
.row .coloumn{
background-color:#EDEFF2;
box-shadow: 9px 6px 8px 0 rgba(0,0,0,0.2);
margin:10px;
padding:10px;
}
.coloumn p{
font-family:verdana;
color:#3a5061;
text-align:center;
font-size:14px;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.AudioPlayer{
width:100%;
position:fixed;
bottom:0;
left:0;}

.AudioPlayer iframe{
height:100px;
width:100%;
}

.footer{
box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
font-size:18px;
border:none;
color:white;
background-color:#22293B;
text-align:center;
padding:50px;
height:160px;
}
