body {
  font-family: 'Titillium Web', sans-serif;
}
#i1{
font-family: 'Titillium Web', sans-serif;
background-color:none;
color:white;
width:89%;
}
.fo{
box-shadow: 9px 6px 8px 0 rgba(0,0,0,0.2);
border:none;
background-color:#ad93cc;
padding:50px 60px 60px 75px;
max-width:500px;
height:580x;
margin:40px auto;
text-align:left;

}
.input_box{

border:none;
border-bottom:1px solid #fff;
background: transparent;
outline:none;
height:40px;
color:#fff;
font-size:15px;
width:89%;
height:8%;
}
::placeholder
{
color: rgba(255,255,255,.5);
}

.signupbox input[type="submit"],
.signupbox input[type="reset"]
{
border-radius:25px;
padding: 8px 10px;
margin: 8px 0;
border:none;
outline:none;
font-size: 17px;
background-color:white;
cursor: pointer;
}
.signupbox input[type="submit"]:hover
{
opacity:0.8;
}
.signupbox input[type="reset"]:hover
{
opacity:0.8;
}
.signupbox a{
font-weight:bold;
color:black;
text-decoration:none;
}
.terms
{
padding-right:20px;
color:black;
text-align:center;
font-size:10px;
}
